<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Price Predictor</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrapIndex.css') }}" />

  <!-- Site Icons -->
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/apple-touch-icon.png') }}">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/styleIndex.css') }}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <img src="{{ url_for('static',filename='images/sq.png') }}" alt="image">
    <img src="{{ url_for('static',filename='images/in.png') }}" alt="image">
    <!-- slider section -->
    <section class="slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <div class="detail-box">
              <h1>
                <span> Property</span> <br>
                Price<br>
                Predictor
              </h1>
              <p>
                Predicting property prices with precision and ease.
                Unlock the power of data to make informed property decisions.
              </p>
              <div class="btn-box">
                <a href="" class="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
              <div class=" form-row" style="border-radius: 20px;">
                <div class="col-md-6" style="border-radius: 20px;">
                  <a href="/bangalore" class="btn btn-light btn-radius btn-brd grd1 btn-block" style="background: linear-gradient(to bottom, #ffff66 0%, #ff6666 100%); font-weight : bold ;padding-top: 10px;padding-bottom: 10px;border-radius: 10px;">Bangalore</a>
                </div>
                <div class="col-md-6">
                  <a href="/pune" class="btn btn-light btn-radius btn-brd grd1 btn-block" style="background: linear-gradient(to bottom, #cc33ff 0%, #99ff99 100%); font-weight : bold ;padding-top: 10px;padding-bottom: 10px;border-radius: 10px;">Pune</a>
                </div>
              </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- find section -->
  
</body>
</html>